@import 'vars.less';
.main_wrapper{
  position: relative;
  padding:60px 0 0;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}
.is_home .main_wrapper{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items:center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content:center;
}

.bt_pink{
  display: inline-block;
  padding: 15px;
  background: @pink;
  color: @white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:hover{
    background: @pink-hover;
  }
}
.bt_black{
  display: inline-block;
  padding: 15px;
  background: @black;
  color: @white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:hover{
    background: @white;
    color: @black;
  }
}
.bt_grey{
  display: inline-block;
  padding: 15px;
  background: #545454;
  color: @white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:hover{
    background: @pink-hover;
  }
}
.page_header{
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  color: @white;
  padding-top: 100px;
  .container{
    position: relative;
    height: 100%;
    padding-bottom: 90px;
  }
  .page_name{
    background: @pink;
    font-size: 24px;
    font-weight: 700;
    padding:20px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    @media( min-width: @screen-xs) {
      font-size: 40px;
    }
  }
  .html{
    float: right;
    margin-top: -50px;
    .up{
      font-size: 70px;
      line-height: 100%;
      font-weight: 800;
      @media( min-width: @screen-xs) {
        font-size: 100px;
        line-height: 100%;
      }
    }
    .down{
      font-size: 24px;
      line-height: 80%;
      font-weight: 800;
      @media( min-width: @screen-xs) {
        font-size: 35px;
        line-height: 80%;
      }
    }
    .bt_pink{
      margin: 20px 0 0;
      float: right;
    }
  }
}
.section_content{
  font-size: 16px;
  padding: 30px 0 40px;
  .big_text{
    font-size: 20px;
  }
  h4{
    font-size: 26px;
    color: @pink;
    margin: 20px 0;
  }
  ul{
    padding-left: 20px;
    li{
      margin-bottom: 5px;
    }
  }
}
.program_entry{
  background: #afcfcc;
  font-size: 18px;
  max-width: 600px;
  padding: 10px 0px;
  font-weight: 700;
  margin-bottom: 10px;
  .cell{
    vertical-align: middle;
    float: none;
    &:last-child{
      text-align: right;
      @media( max-width: @screen-xs-max) {
        float: right;
      }
    }
    @media( max-width: @screen-xs-max) {
      display: block;
      padding: 5px 10px;
    }
  }
  .bt_pink{
    display: inline-block;
    padding: 10px 15px;
  }
}
.programa{
  max-width: 600px;
  margin:30px 0 0 0;
  padding: 0 15px 0 0;
  h4{
    display: inline-block;
    vertical-align: middle;
  }
  .bt_grey{
    display: inline-block;
    margin-left: 20px;
  }
}
.content_programa{
  margin-bottom: 30px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  .transition(all .4s);
  &.opened{
    max-height: none;
    opacity: 1;
  }
}
.trainers{
  .trainer_entry{
    float: left;
    margin-right: 10px;
    .image{
      width: 220px;
      height: 250px;
      background: #d6d6d6;
      img{
        max-width: 100%;
      }
    }
    .name{
      font-weight: 700;
      text-transform: uppercase;
      margin: 10px 0;
      font-size: 18px;
    }
    .expertiza{
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
.partner{
  margin-bottom: 30px;
  .image{
    background: #d6d6d6;
    height: 260px;
    position: relative;
    margin-bottom: 10px;
    img{
      width: 100%;
      max-width: 250px;
      max-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      .translate(-50%, -50%);
    }
  }
  .name{
    font-size: 34px;
    font-weight: 700;
  }
}
.expert{
  margin-bottom: 30px;
  .image{
    position: relative;
    margin-bottom: 10px;
    max-width: 300px;
    img{
      width: 100%;
    }
  }
  .name{
    font-size: 28px;
    font-weight: 700;
  }
  .expertiza{
    font-size: 18px;
    font-weight: 400;
  }
}
.show_programa{
  padding-right: 50px;
  position: relative;
  &:after{
    content:'\e808';
    font-family: 'fontello';
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 12px;
    display: block;
    color: @white;
  }
  &.active{
    &:after{
      content:'\e809';
    }
  }
}
.faq{
  .tab{
    background: #eaeaea;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 60px 20px 20px;
    margin:0 0 20px 0;
    position: relative;
    cursor: pointer;
    &:hover{
      color: @pink;
      &:after{
        color: @pink;
      }
    }
    &:after{
      content:'\e808';
      font-family: 'fontello';
      font-size: 40px;
      position: absolute;
      right: 20px;
      top: 12px;
      display: block;
      color: @white;
    }

  }
  .text{
    height:auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    .transition( all .2s);
  }
  &.opened{
    .text{
      max-height:999px;
      opacity: 1;
      margin-bottom: 20px;
    }
    .tab{
      background: #d6d6d6;
      &:after{
        content:'\e809';
      }
    }
  }
}
.features{
  margin-top: 40px;
  text-align: center;
  .row > div{
    display: inline-block ;
    float: none !important;
    vertical-align: top;
  }
  .feature_box{
    text-align: center;
    margin-bottom: 20px;
    .number{
      background: @pink;
      background: #f0f0f0;
      color: @white;
      font-size: 40px;
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-weight: 800;
    }
    .text{
      padding: 20px;
      font-size: 16px;
      background: @pink;
      height: 120px;
    }
  }
}
.is_dece{
  background: url("../images/dece-bg.jpg") no-repeat 35% center fixed;
  background-size: cover !important;
}
.is_dece .main_wrapper{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items:center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content:center;
}
.dece_content{
  color: @white;
  text-align: center;
  .title{
    .text-shadow(2px 2px 0px rgba(0, 0, 0, 0.20));
    .big {
      font-size: 100px;
      line-height: 100%;
      font-weight: 800;
      @media ( min-width: @screen-xs) {
        font-size: 130px;
        line-height: 100%;
      }
    }
    .small {
      font-size: 22px;
      line-height: 80%;
      font-weight: 600;
      @media ( min-width: @screen-xs) {
        font-size: 29px;
        line-height: 80%;
      }
    }
  }
  .pink_box{
    background: rgba(218, 52, 95, 0.90);
    padding:30px 40px;
    max-width: 900px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 20px;
    //text-transform: uppercase;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        margin: 0 0 0 0;
        padding: 0 0 0 28px;
        text-align: left;
        display: block;
        position: relative;
        &:before{
          display: block;
          font-family: 'fontello';
          content: '\e80a';
          font-size: 20px;
          position: absolute;
          left: 0;
          top: 0;
          color: rgba(255, 255, 255, 0.50);
        }
      }
    }
  }
}