@import 'vars.less';
/* FOOTER */

.is_home .footer_wrapper{
  @media( min-width: @screen-tablet){
    background: none;
  }
}
.footer_wrapper{
  color: @white;
  background: @black;
  padding: 15px 15px;
  @media( min-width: @screen-tablet) {
    padding:10px 15px;
  }
  .linkuri{
    font-size: 12px;
    @media( min-width: @screen-tablet){
      margin: 15px 0 0 0;
    }
    .copy{
      margin:0 10px 10px 0;
      display: block;
      @media( min-width: @screen-xs){
        display: inline-block;
      }
    }
    a{
      padding: 5px 5px 5px 0;
      margin: 0 5px 0 0;
      display: inline-block;
      &:hover{
        color: @pink;
      }
    }
  }
  .cu_sprijinul{
    padding: 10px 0;
    font-size: 12px;
    display: block;
    @media( min-width: @screen-tablet){
      text-align: right;
    }
    img{
      height:25px;
      vertical-align: middle;
      display: inline-block;
      margin: 0 3px;
    }
  }
}