@import "vars.less";
/* GLOBALS */
body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  color: @black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:14px;
  height: 100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  background: @white;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: border-box;
  outline:0;
}
a{
  text-decoration: none !important;
  color: inherit;
}
/*spacers*/
.top10{
  margin-top: 10px;
}
.top20{
  margin-top: 20px;
}
.top30{
  margin-top: 30px;
}
.top40{
  margin-top: 40px;
}
.top60{
  margin-top: 60px;
}
.bottom10{
  margin-bottom: 10px;
}
.bottom20{
  margin-bottom: 20px;
}
.bottom30{
  margin-bottom: 30px;
}
.bottom40{
  margin-bottom: 40px;
}
.bottom60{
  margin-bottom: 60px;
}
.space10{
  margin-top: 10px;
}
.space20{
  margin-top: 20px;
}
.space30{
  margin-top: 30px;
}
.space40{
  margin-top: 40px;
}
.space60{
  margin-top: 60px;
}
.responsive_img{
  max-width: 100%;
  height: auto;
}
button, input, select, textarea{
  outline: none;
}
strong{
  font-weight: 700;
}
.align_right{
  float: right;
}
.align_left{
  float: left;
}
.table{
  display: table;
  width: 100%;
}
.cell{
  display: table-cell;
  vertical-align: top;
}
.table_row{
  display: table-row;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.center-block{
  float: none;
}

