@import 'vars.less';
/* HEADER */
.is_home .main_header{
  @media( min-width: @screen-tablet) {
    background: none;
  }
}
.main_header{
  background: @black;
  height: 60px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 5;
  @media( max-width: @screen-tablet-max) {
    .container {
      width: 100%;
    }
  }
  .logo{
    padding: 10px 0;
    float: left;
    img{
      height: 25px;
      margin: 7px 0 0;
      @media( min-width: @screen-tablet) {
        height: 40px;
        margin:0;
      }
    }
  }
  .main_menu{
    padding: 5px 0;
    float: right;
    a{
      color: @white;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      display: inline-block;
      margin: 0 5px;
      &:hover{
        background: @pink;
      }
      .icon-facebook{
        font-size: 20px;
      }
      @media( max-width: @screen-tablet-max){
        display: block;
        text-align: right;
      }
    }
    @media( max-width: @screen-tablet-max){
      position: fixed;
      right: 0;
      width: 320px;
      background: rgba(0, 0, 0, 0.61);
      top: 0;
      bottom: 0;
      padding: 60px 0 0;
      .translate(100%,0);
      .transition(all .1s);
    }
  }

}
.nav_toggle{
  cursor:pointer;
  width:44px;
  height:44px;
  padding:19px 10px 10px;
  z-index:999;
  vertical-align:middle;
  display:inline-block;
  position: absolute;
  right: 10px;
  top:10px;
  @media( min-width: @screen-tablet){
    display: none;
  }
  span, span:before, span:after {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 3px;
    width: 24px;
    background:@white;
    position: absolute;
    display: block;
    content: '';
    .transition(all .1s);
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
}
.nav_opened{
  .main_menu{
    .translate(0,0);
  }
  .nav_toggle{
    span {
      width:23px;
      background: none;
    }
    span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top:0;
      right:0;
    }
    span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top:0;
      right:0;
    }
  }
}


