@import 'vars.less';
.modal-dialog{
  padding: 80px 10px;
  @media( min-width: @screen-xs){
    width: 800px;
  }
}
.bt_close{
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 34px;
  color: @pink;
  &:hover{
    color: @white;
  }
}
.modal-content{
  background: @white;
  color: @black;
  padding:25px 30px;
  .border-radius(0);
  .box-shadow(none);
  .modal_title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

}
.curs_modal_box{
  padding: 20px 20px 10px;
  background: @pink;
  width: 100%;
  text-align: left;
  color: @white;


  .curs_name{
    font-size: 30px;
    font-weight: 700;
  }
  .curs_time{
    font-size: 16px;
    margin: 10px 0;
  }
  .curs_price{
    font-size: 44px;
    font-weight: 700;
    span{
      font-weight: 300;
      font-size: 60%;
      padding-left: 5px;
    }
  }
  .curs_price_label{
    font-size: 16px;
    font-weight: 800;
  }
}
.form{
  margin: 40px 0 0;
  .mesaj_eroare{
    color: @red;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px 0;
  }
  .input_wrapper{
    margin-bottom: 5px;
  }
  input{
    background: none;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid @pink;
    color: @black;
  }
  textarea{
    background: none;
    width: 100%;
    padding:10px;
    height: 100px;
    border: none;
    border: 1px solid @pink;
    color: @black;
    resize: none;
    font-size: 14px;
    margin-top: 15px;
  }
  .checkboxes_wrapper{
    padding: 10px;
    font-size: 16px;
  }
  .label_checkbox{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 0 0;
    font-size: 16px;
    input{
      position: absolute;
      left: -10000px;
      visibility: hidden;
      &:checked + span:before{
        display: block;
        height: 18px;
        width: 18px;
        background: @pink;
        content:'';
        position: absolute;
        top:0px;
        left:0;
      }
    }
    span{
      display: inline-block;
      height: 18px;
      width: 18px;
      vertical-align: middle;
      background: #c4c4c4;
      position: relative;
      line-height: 18px;
      margin-right: 6px;
      top:-2px;
    }
  }
  .selector_wrapper{
    border-bottom: 1px solid @pink;
    .label_data{
      margin: 9px 0 0;
      padding:0 10px;
      font-size: 16px;
      @media( min-width: 500px){
        float: left;
      }
    }
  }
  .mesaj_succes{
    font-size: 16px;
    font-weight: 600;
    color: green;
    margin-bottom: 10px;
  }
}
.contact_modal_content{
  padding: 0;
  @media( max-width: @screen-xs-max) {
    .row-eq-height {
      display: block !important;
    }
  }
  .form{
    margin: 0;
  }
  .form_side{
    padding:20px 15px;
    @media( min-width: 600px) {
      padding:30px 40px;
    }
  }
  .address_side{
    padding:20px 15px;
    @media( min-width: 600px) {
      padding:30px 40px;
    }
    background: @pink;
    color: @white;
    line-height: 24px;
    .bt_black{
      margin-top: 20px;
    }
  }
  .line{
    border-bottom: 1px dashed @white;
    margin: 20px 0;
  }
}