@import 'vars.less';
/* SELECTORS */
.select_perioada .select2-container {
  width: 100% !important;
}
.select2-container {
  background: none;
  &.date_select{
    margin-left: 5px;
  }
  .select2-selection--single .select2-selection__placeholder{
    color: @black;
  }
  .select2-selection--single .select2-selection__rendered{
    padding-right: 30px;
  }
  .select2-selection {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 36px;
    background: none;
    outline: none;
    border: none;
    .select2-selection__rendered {
      line-height: 36px;
      color: @black;
    }
    .select2-selection__arrow {
      height: 36px;
      width: 20px;
      &:after {
        position: absolute;
        height: 10px;
        width: 20px;
        display: block;
        content: '\e807';
        font-family: fontello;
        font-size: 16px;
        line-height:20px;
        top: 6px;
        right: 0;
        text-align: center;
        color: @pink;
      }
      b {
        display: none;
      }
    }
  }
  .select2-dropdown{
    background: @white;
    border: 1px solid @pink;
    border-top: none;
    color: @black;
  }
  .select2-results__option{
    padding:10px 6px;
  }
  .select2-results__option[aria-selected=true]{
    background: @pink;
    color: @white;
  }
}
