.main_wrapper {
  position: relative;
  padding: 60px 0 0;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}
.is_home .main_wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.bt_pink {
  display: inline-block;
  padding: 15px;
  background: #da345f;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_pink:hover {
  background: #b02f58;
}
.bt_black {
  display: inline-block;
  padding: 15px;
  background: #06090d;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_black:hover {
  background: #ffffff;
  color: #06090d;
}
.bt_grey {
  display: inline-block;
  padding: 15px;
  background: #545454;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_grey:hover {
  background: #b02f58;
}
.page_header {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  color: #ffffff;
  padding-top: 100px;
}
.page_header .container {
  position: relative;
  height: 100%;
  padding-bottom: 90px;
}
.page_header .page_name {
  background: #da345f;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .page_header .page_name {
    font-size: 40px;
  }
}
.page_header .html {
  float: right;
  margin-top: -50px;
}
.page_header .html .up {
  font-size: 70px;
  line-height: 100%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .page_header .html .up {
    font-size: 100px;
    line-height: 100%;
  }
}
.page_header .html .down {
  font-size: 24px;
  line-height: 80%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .page_header .html .down {
    font-size: 35px;
    line-height: 80%;
  }
}
.page_header .html .bt_pink {
  margin: 20px 0 0;
  float: right;
}
.section_content {
  font-size: 16px;
  padding: 30px 0 40px;
}
.section_content .big_text {
  font-size: 20px;
}
.section_content h4 {
  font-size: 26px;
  color: #da345f;
  margin: 20px 0;
}
.section_content ul {
  padding-left: 20px;
}
.section_content ul li {
  margin-bottom: 5px;
}
.program_entry {
  background: #afcfcc;
  font-size: 18px;
  max-width: 600px;
  padding: 10px 0px;
  font-weight: 700;
  margin-bottom: 10px;
}
.program_entry .cell {
  vertical-align: middle;
  float: none;
}
.program_entry .cell:last-child {
  text-align: right;
}
@media (max-width: 767px) {
  .program_entry .cell:last-child {
    float: right;
  }
}
@media (max-width: 767px) {
  .program_entry .cell {
    display: block;
    padding: 5px 10px;
  }
}
.program_entry .bt_pink {
  display: inline-block;
  padding: 10px 15px;
}
.programa {
  max-width: 600px;
  margin: 30px 0 0 0;
  padding: 0 15px 0 0;
}
.programa h4 {
  display: inline-block;
  vertical-align: middle;
}
.programa .bt_grey {
  display: inline-block;
  margin-left: 20px;
}
.content_programa {
  margin-bottom: 30px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content_programa.opened {
  max-height: none;
  opacity: 1;
}
.trainers .trainer_entry {
  float: left;
  margin-right: 10px;
}
.trainers .trainer_entry .image {
  width: 220px;
  height: 250px;
  background: #d6d6d6;
}
.trainers .trainer_entry .image img {
  max-width: 100%;
}
.trainers .trainer_entry .name {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 18px;
}
.trainers .trainer_entry .expertiza {
  text-transform: uppercase;
  font-size: 13px;
}
.partner {
  margin-bottom: 30px;
}
.partner .image {
  background: #d6d6d6;
  height: 260px;
  position: relative;
  margin-bottom: 10px;
}
.partner .image img {
  width: 100%;
  max-width: 250px;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.partner .name {
  font-size: 34px;
  font-weight: 700;
}
.expert {
  margin-bottom: 30px;
}
.expert .image {
  position: relative;
  margin-bottom: 10px;
  max-width: 300px;
}
.expert .image img {
  width: 100%;
}
.expert .name {
  font-size: 28px;
  font-weight: 700;
}
.expert .expertiza {
  font-size: 18px;
  font-weight: 400;
}
.show_programa {
  padding-right: 50px;
  position: relative;
}
.show_programa:after {
  content: '\e808';
  font-family: 'fontello';
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: block;
  color: #ffffff;
}
.show_programa.active:after {
  content: '\e809';
}
.faq .tab {
  background: #eaeaea;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 60px 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  cursor: pointer;
}
.faq .tab:hover {
  color: #da345f;
}
.faq .tab:hover:after {
  color: #da345f;
}
.faq .tab:after {
  content: '\e808';
  font-family: 'fontello';
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: block;
  color: #ffffff;
}
.faq .text {
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.faq.opened .text {
  max-height: 999px;
  opacity: 1;
  margin-bottom: 20px;
}
.faq.opened .tab {
  background: #d6d6d6;
}
.faq.opened .tab:after {
  content: '\e809';
}
.features {
  margin-top: 40px;
  text-align: center;
}
.features .row > div {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}
.features .feature_box {
  text-align: center;
  margin-bottom: 20px;
}
.features .feature_box .number {
  background: #da345f;
  background: #f0f0f0;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-weight: 800;
}
.features .feature_box .text {
  padding: 20px;
  font-size: 16px;
  background: #da345f;
  height: 120px;
}
.is_dece {
  background: url("../images/dece-bg.jpg") no-repeat 35% center fixed;
  background-size: cover !important;
}
.is_dece .main_wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.dece_content {
  color: #ffffff;
  text-align: center;
}
.dece_content .title {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.dece_content .title .big {
  font-size: 100px;
  line-height: 100%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .dece_content .title .big {
    font-size: 130px;
    line-height: 100%;
  }
}
.dece_content .title .small {
  font-size: 22px;
  line-height: 80%;
  font-weight: 600;
}
@media (min-width: 767px) {
  .dece_content .title .small {
    font-size: 29px;
    line-height: 80%;
  }
}
.dece_content .pink_box {
  background: rgba(218, 52, 95, 0.9);
  padding: 30px 40px;
  max-width: 900px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 20px;
}
.dece_content .pink_box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dece_content .pink_box ul li {
  margin: 0 0 0 0;
  padding: 0 0 0 28px;
  text-align: left;
  display: block;
  position: relative;
}
.dece_content .pink_box ul li:before {
  display: block;
  font-family: 'fontello';
  content: '\e80a';
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.5);
}
