/* FOOTER */
@media (min-width: 1025px) {
  .is_home .footer_wrapper {
    background: none;
  }
}
.footer_wrapper {
  color: #ffffff;
  background: #06090d;
  padding: 15px 15px;
}
@media (min-width: 1025px) {
  .footer_wrapper {
    padding: 10px 15px;
  }
}
.footer_wrapper .linkuri {
  font-size: 12px;
}
@media (min-width: 1025px) {
  .footer_wrapper .linkuri {
    margin: 15px 0 0 0;
  }
}
.footer_wrapper .linkuri .copy {
  margin: 0 10px 10px 0;
  display: block;
}
@media (min-width: 767px) {
  .footer_wrapper .linkuri .copy {
    display: inline-block;
  }
}
.footer_wrapper .linkuri a {
  padding: 5px 5px 5px 0;
  margin: 0 5px 0 0;
  display: inline-block;
}
.footer_wrapper .linkuri a:hover {
  color: #da345f;
}
.footer_wrapper .cu_sprijinul {
  padding: 10px 0;
  font-size: 12px;
  display: block;
}
@media (min-width: 1025px) {
  .footer_wrapper .cu_sprijinul {
    text-align: right;
  }
}
.footer_wrapper .cu_sprijinul img {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 3px;
}
