/* HEADER */
@media (min-width: 1025px) {
  .is_home .main_header {
    background: none;
  }
}
.main_header {
  background: #06090d;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
@media (max-width: 1024px) {
  .main_header .container {
    width: 100%;
  }
}
.main_header .logo {
  padding: 10px 0;
  float: left;
}
.main_header .logo img {
  height: 25px;
  margin: 7px 0 0;
}
@media (min-width: 1025px) {
  .main_header .logo img {
    height: 40px;
    margin: 0;
  }
}
.main_header .main_menu {
  padding: 5px 0;
  float: right;
}
.main_header .main_menu a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  display: inline-block;
  margin: 0 5px;
}
.main_header .main_menu a:hover {
  background: #da345f;
}
.main_header .main_menu a .icon-facebook {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .main_header .main_menu a {
    display: block;
    text-align: right;
  }
}
@media (max-width: 1024px) {
  .main_header .main_menu {
    position: fixed;
    right: 0;
    width: 320px;
    background: rgba(0, 0, 0, 0.61);
    top: 0;
    bottom: 0;
    padding: 60px 0 0;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
}
.nav_toggle {
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 19px 10px 10px;
  z-index: 999;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (min-width: 1025px) {
  .nav_toggle {
    display: none;
  }
}
.nav_toggle span,
.nav_toggle span:before,
.nav_toggle span:after {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 3px;
  width: 24px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.nav_toggle span:before {
  top: -10px;
}
.nav_toggle span:after {
  bottom: -10px;
}
.nav_opened .main_menu {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.nav_opened .nav_toggle span {
  width: 23px;
  background: none;
}
.nav_opened .nav_toggle span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  right: 0;
}
.nav_opened .nav_toggle span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  right: 0;
}
