/*Homepage*/
.is_home {
  background: url("../images/home-bg.jpg") no-repeat 35% center fixed;
  background-size: cover !important;
}
.home_wrapper {
  position: relative;
  text-align: center;
  padding: 20px 15px 60px;
  width: 100%;
}
.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
  display: table;
}
@media (max-height: 820px) {
  .hero {
    max-width: 400px;
  }
}
@media (max-height: 700px) {
  .hero {
    max-width: 350px;
  }
}
@media (max-height: 600px) {
  .hero {
    max-width: 300px;
  }
}
.hero .cell {
  vertical-align: bottom;
  width: 60%;
}
.hero .hero_text {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px 10px 0;
  width: 40%;
}
@media (min-width: 767px) {
  .hero .hero_text {
    font-size: 26px;
  }
}
.hero .hero_text .text {
  border-right: 1px solid #ffffff;
  padding: 15px  15px 15px 0;
  position: relative;
}
.hero .hero_text .text:after {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero .hero_text .text:before {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
}
.curs_promo_box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  margin: 3% auto 0;
  text-align: left;
}
@media (min-width: 768px) {
  .curs_promo_box {
    width: 600px;
  }
}
.curs_promo_box .bt_pink {
  position: absolute;
}
.curs_promo_box .curs_name {
  font-size: 30px;
  font-weight: 700;
}
.curs_promo_box .curs_time {
  font-size: 16px;
  margin: 10px 0;
}
.curs_promo_box .curs_price {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.curs_promo_box .curs_price span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 5px;
}
.curs_promo_box .curs_price_label {
  font-size: 16px;
  font-weight: 800;
}
