.modal-dialog {
  padding: 80px 10px;
}
@media (min-width: 767px) {
  .modal-dialog {
    width: 800px;
  }
}
.bt_close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 34px;
  color: #da345f;
}
.bt_close:hover {
  color: #ffffff;
}
.modal-content {
  background: #ffffff;
  color: #06090d;
  padding: 25px 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-content .modal_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.curs_modal_box {
  padding: 20px 20px 10px;
  background: #da345f;
  width: 100%;
  text-align: left;
  color: #ffffff;
}
.curs_modal_box .curs_name {
  font-size: 30px;
  font-weight: 700;
}
.curs_modal_box .curs_time {
  font-size: 16px;
  margin: 10px 0;
}
.curs_modal_box .curs_price {
  font-size: 44px;
  font-weight: 700;
}
.curs_modal_box .curs_price span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 5px;
}
.curs_modal_box .curs_price_label {
  font-size: 16px;
  font-weight: 800;
}
.form {
  margin: 40px 0 0;
}
.form .mesaj_eroare {
  color: #ee3b2c;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px 0;
}
.form .input_wrapper {
  margin-bottom: 5px;
}
.form input {
  background: none;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-bottom: 1px solid #da345f;
  color: #06090d;
}
.form textarea {
  background: none;
  width: 100%;
  padding: 10px;
  height: 100px;
  border: none;
  border: 1px solid #da345f;
  color: #06090d;
  resize: none;
  font-size: 14px;
  margin-top: 15px;
}
.form .checkboxes_wrapper {
  padding: 10px;
  font-size: 16px;
}
.form .label_checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 0 0;
  font-size: 16px;
}
.form .label_checkbox input {
  position: absolute;
  left: -10000px;
  visibility: hidden;
}
.form .label_checkbox input:checked + span:before {
  display: block;
  height: 18px;
  width: 18px;
  background: #da345f;
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
}
.form .label_checkbox span {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  background: #c4c4c4;
  position: relative;
  line-height: 18px;
  margin-right: 6px;
  top: -2px;
}
.form .selector_wrapper {
  border-bottom: 1px solid #da345f;
}
.form .selector_wrapper .label_data {
  margin: 9px 0 0;
  padding: 0 10px;
  font-size: 16px;
}
@media (min-width: 500px) {
  .form .selector_wrapper .label_data {
    float: left;
  }
}
.form .mesaj_succes {
  font-size: 16px;
  font-weight: 600;
  color: green;
  margin-bottom: 10px;
}
.contact_modal_content {
  padding: 0;
}
@media (max-width: 767px) {
  .contact_modal_content .row-eq-height {
    display: block !important;
  }
}
.contact_modal_content .form {
  margin: 0;
}
.contact_modal_content .form_side {
  padding: 20px 15px;
}
@media (min-width: 600px) {
  .contact_modal_content .form_side {
    padding: 30px 40px;
  }
}
.contact_modal_content .address_side {
  padding: 20px 15px;
  background: #da345f;
  color: #ffffff;
  line-height: 24px;
}
@media (min-width: 600px) {
  .contact_modal_content .address_side {
    padding: 30px 40px;
  }
}
.contact_modal_content .address_side .bt_black {
  margin-top: 20px;
}
.contact_modal_content .line {
  border-bottom: 1px dashed #ffffff;
  margin: 20px 0;
}
