/* SELECTORS */
.select_perioada .select2-container {
  width: 100% !important;
}
.select2-container {
  background: none;
}
.select2-container.date_select {
  margin-left: 5px;
}
.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #06090d;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
}
.select2-container .select2-selection {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 36px;
  background: none;
  outline: none;
  border: none;
}
.select2-container .select2-selection .select2-selection__rendered {
  line-height: 36px;
  color: #06090d;
}
.select2-container .select2-selection .select2-selection__arrow {
  height: 36px;
  width: 20px;
}
.select2-container .select2-selection .select2-selection__arrow:after {
  position: absolute;
  height: 10px;
  width: 20px;
  display: block;
  content: '\e807';
  font-family: fontello;
  font-size: 16px;
  line-height: 20px;
  top: 6px;
  right: 0;
  text-align: center;
  color: #da345f;
}
.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}
.select2-container .select2-dropdown {
  background: #ffffff;
  border: 1px solid #da345f;
  border-top: none;
  color: #06090d;
}
.select2-container .select2-results__option {
  padding: 10px 6px;
}
.select2-container .select2-results__option[aria-selected=true] {
  background: #da345f;
  color: #ffffff;
}
