@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?47520563');
  src: url('../font/fontello.eot?47520563#iefix') format('embedded-opentype'), url('../font/fontello.woff2?47520563') format('woff2'), url('../font/fontello.woff?47520563') format('woff'), url('../font/fontello.ttf?47520563') format('truetype'), url('../font/fontello.svg?47520563#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47520563#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*.icon-down:before {
  content: '\e800';
}*/
/* '' */
.icon-left:before {
  content: '\e801';
}
/* '' */
.icon-up:before {
  content: '\e802';
}
/* '' */
.icon-right:before {
  content: '\e803';
}
/* '' */
.icon-up-open:before {
  content: '\e804';
}
/* '' */
.icon-right-open:before {
  content: '\e805';
}
/* '' */
.icon-left-open:before {
  content: '\e806';
}
/* '' */
.icon-down-open:before {
  content: '\e807';
}
/* '' */
.icon-plus:before {
  content: '\e808';
}
/* '' */
.icon-minus:before {
  content: '\e809';
}
/* '' */
.icon-ok:before {
  content: '\e80a';
}
/* '' */
.icon-facebook:before {
  content: '\f09a';
}
.icon-cancel:before {
  content: '\e800';
}
/* '' */
/* '' */
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
/*@media (min-width:1600px) {
  .container {
    width: 1570px;
  }
}*/
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 994px;
  }
}
@media (max-width: 767px) {
  .hide_xs {
    display: none;
  }
  .container .trainer .image, .container .trainer .description .name{
      margin: auto;
      text-align: center;
  }
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-5ths {
  width: 100%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/* GLOBALS */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #06090d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
}
/*spacers*/
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.top30 {
  margin-top: 30px;
}
.top40 {
  margin-top: 40px;
}
.top60 {
  margin-top: 60px;
}
.bottom10 {
  margin-bottom: 10px;
}
.bottom20 {
  margin-bottom: 20px;
}
.bottom30 {
  margin-bottom: 30px;
}
.bottom40 {
  margin-bottom: 40px;
}
.bottom60 {
  margin-bottom: 60px;
}
.space10 {
  margin-top: 10px;
}
.space20 {
  margin-top: 20px;
}
.space30 {
  margin-top: 30px;
}
.space40 {
  margin-top: 40px;
}
.space60 {
  margin-top: 60px;
}
.responsive_img {
  max-width: 100%;
  height: auto;
}
button,
input,
select,
textarea {
  outline: none;
}
strong {
  font-weight: 700;
}
.align_right {
  float: right;
}
.align_left {
  float: left;
}
.table {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell;
  vertical-align: top;
}
.table_row {
  display: table-row;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.center-block {
  float: none;
}
/* SELECTORS */
.select_perioada .select2-container {
  width: 100% !important;
}
.select2-container {
  background: none;
}
.select2-container.date_select {
  margin-left: 5px;
}
.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #06090d;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
}
.select2-container .select2-selection {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 36px;
  background: none;
  outline: none;
  border: none;
}
.select2-container .select2-selection .select2-selection__rendered {
  line-height: 36px;
  color: #06090d;
}
.select2-container .select2-selection .select2-selection__arrow {
  height: 36px;
  width: 20px;
}
.select2-container .select2-selection .select2-selection__arrow:after {
  position: absolute;
  height: 10px;
  width: 20px;
  display: block;
  content: '\e807';
  font-family: fontello;
  font-size: 16px;
  line-height: 20px;
  top: 6px;
  right: 0;
  text-align: center;
  color: #da345f;
}
.select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}
.select2-container .select2-dropdown {
  background: #ffffff;
  border: 1px solid #da345f;
  border-top: none;
  color: #06090d;
}
.select2-container .select2-results__option {
  padding: 10px 6px;
}
.select2-container .select2-results__option[aria-selected=true] {
  background: #da345f;
  color: #ffffff;
}
/* HEADER */
@media (min-width: 1025px) {
  .is_home .main_header {
    background: none;
  }
}
.main_header {
  background: #06090d;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
@media (max-width: 1024px) {
  .main_header .container {
    width: 100%;
  }
}
.main_header .logo {
  padding: 10px 0;
  float: left;
}
.main_header .logo img {
  height: 30px;
  margin: 7px 0 0;
}
@media (min-width: 1025px) {
  .main_header .logo img {
    height: 40px;
    margin: 0 15px 0 0;
  }
}
.main_header .main_menu {
  padding: 5px 0;
  /*float: left;*/
  width: 100%;
}
.main_header .main_menu a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  display: inline-block;
  margin: 0 5px;
}
.main_header .main_menu a:hover {
  background: #da345f;
}
.main_header .main_menu .active {
  background: #da345f;
}
.main_header .main_menu a .icon-facebook {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .main_header .main_menu a {
    display: block;
    text-align: right;    
  }
  .align_left {
    float: none;
    padding-bottom: 15px; 
  }
}
@media (max-width: 1024px) {
  .main_header .main_menu {
    position: fixed;
    right: 0;
    width: 320px;
    background: rgba(0, 0, 0, 0.61);
    top: 0;
    bottom: 0;
    padding: 60px 0 0;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
}
.nav_toggle {
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 19px 10px 10px;
  z-index: 999;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (min-width: 1025px) {
  .nav_toggle {
    display: none;
  }
}
.nav_toggle span,
.nav_toggle span:before,
.nav_toggle span:after {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 3px;
  width: 24px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.nav_toggle span:before {
  top: -10px;
}
.nav_toggle span:after {
  bottom: -10px;
}
.nav_opened .main_menu {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.nav_opened .nav_toggle span {
  width: 23px;
  background: none;
}
.nav_opened .nav_toggle span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  right: 0;
}
.nav_opened .nav_toggle span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  right: 0;
}
/* FOOTER */
@media (min-width: 1025px) {
  .is_home .footer_wrapper {
    background: none;
  }
}
.footer_wrapper {
  color: #ffffff;
  background: #06090d;
  padding: 15px 15px;
}
@media (min-width: 1025px) {
  .footer_wrapper {
    padding: 10px 15px;
  }
}
.footer_wrapper .linkuri {
  font-size: 16px;
}
@media (min-width: 1025px) {
  .footer_wrapper .linkuri {
    margin: 15px 0 0 0;
  }
}
.footer_wrapper .copy {
  margin: 0 10px 10px 5px;
  display: block;
  font-size: 12px;
}
@media (min-width: 767px) {
  .footer_wrapper .copy {
    display: inline-block;
  }
}
.footer_wrapper .linkuri a {
  padding: 5px 5px 5px 5px;
  margin: 0;
  display: inline-block;
}
.footer_wrapper .linkuri a:hover {
  color: #ffffff;
  background: #da345f;
}
.footer_wrapper .linkuri .active {
  background: #da345f;
}
.footer_wrapper .cu_sprijinul {
  padding: 10px 0;
  font-size: 12px;
  display: block;
}
.footer_wrapper .cu_sprijinul span {
    line-height: 1.2;
}
@media (min-width: 1025px) {
  .footer_wrapper .cu_sprijinul {
    text-align: right;
  }
}
.footer_wrapper .cu_sprijinul img {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 3px;
}
/*Homepage*/
.is_home {
  background: url("../images/home-bg.jpg") no-repeat 35% center fixed;
  background-size: cover !important;
}
.is_home .main_header .container .align_right .bt_pink {
    display: none;
}
.home_wrapper {
  position: relative;
  text-align: center;
  padding: 20px 15px 60px;
  width: 100%;
}
.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
  display: table;
}
@media (max-height: 820px) {
  .hero {
    max-width: 400px;
  }
}
@media (max-height: 700px) {
  .hero {
    max-width: 350px;
  }
}
@media (max-height: 600px) {
  .hero {
    max-width: 300px;
  }
}
.hero .cell {
  vertical-align: bottom;
  width: 60%;
}
.hero .hero_text {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px 10px 0;
  width: 40%;
}
@media (min-width: 767px) {
  .hero .hero_text {
    font-size: 26px;
  }
}
.hero .hero_text .text {
  border-right: 1px solid #ffffff;
  padding: 15px  15px 15px 0;
  position: relative;
}
.hero .hero_text .text:after {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero .hero_text .text:before {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
}
.curs_promo_box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  margin: 3% auto 0;
  text-align: left;
}
@media (min-width: 768px) {
  .curs_promo_box {
    width: 600px;
  }
}
.curs_promo_box .bt_pink {
  position: absolute;
  margin-top: 20px;
}
.curs_promo_box .curs_name {
  font-size: 30px;
  font-weight: 700;
}
.curs_promo_box .curs_time {
  font-size: 16px;
  margin: 10px 0;
}
.curs_promo_box .curs_calendar {
  font-size: 16px;
  margin: 10px 0;
  color: #b02f58;
}
.curs_promo_box .curs_calendar a strong {
  padding-right: 2px;
}
.curs_promo_box .curs_calendar a:hover {
  color: #da345f;
}
.curs_promo_box .curs_price {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.curs_promo_box .curs_price span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 5px;
}
.curs_promo_box .curs_price_label {
  font-size: 16px;
  font-weight: 800;
}
.main_wrapper {
  /*position: relative;*/
  padding: 60px 0 0;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}
.is_home .main_wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.bt_pink {
  display: inline-block;
  padding: 15px;
  background: #da345f;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_pink:hover {
  background: #b02f58;
}
.bt_black {
  display: inline-block;
  padding: 15px;
  background: #06090d;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_black:hover {
  background: #ffffff;
  color: #06090d;
}
.bt_grey {
  display: inline-block;
  padding: 15px;
  background: #545454;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bt_grey:hover {
  background: #b02f58;
}
.page_header {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  color: #ffffff;
  padding-top: 100px;
}
.page_header .container {
  position: relative;
  height: 100%;
  padding-bottom: 90px;
}
.page_header .page_name {
  background: #da345f;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .page_header .page_name {
    font-size: 40px;
  }
}
.page_header .html {
  float: right;
  margin-top: -50px;
}
.page_header .html .up {
  font-size: 70px;
  line-height: 100%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .page_header .html .up {
    font-size: 100px;
    line-height: 100%;
  }
}
.page_header .html .down {
  font-size: 24px;
  line-height: 80%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .page_header .html .down {
    font-size: 35px;
    line-height: 80%;
  }
}
.page_header .html .bt_pink {
  margin: 20px 0 0;
  float: right;
}
.section_content {
  font-size: 16px;
  padding: 30px 0 40px;
}
.section_content .big_text {
  font-size: 20px;
}
.section_content h4 {
  font-size: 26px;
  color: #da345f;
  margin: 20px 0;
}
.section_content ul {
  padding-left: 20px;
}
.section_content ul li {
  margin-bottom: 5px;
}
.program_entry {
  background: #afcfcc;
  font-size: 18px;
  max-width: 600px;
  padding: 10px 0px;
  font-weight: 700;
  margin-bottom: 10px;
}
.program_entry .cell {
  vertical-align: middle;
  float: none;
}
.program_entry .cell:last-child {
  text-align: right;
}
@media (max-width: 767px) {
  .program_entry .cell:last-child {
    float: right;
  }
}
@media (max-width: 767px) {
  .program_entry .cell {
    display: block;
    padding: 5px 10px;
  }
}
.program_entry .bt_pink {
  display: inline-block;
  padding: 10px 15px;
}
.programa {
  max-width: 600px;
  margin: 30px 0 0 0;
  padding: 0 15px 0 0;
}
.programa h4 {
  display: inline-block;
  vertical-align: middle;
}
/*.programa .bt_grey {
  display: inline-block;
  margin-left: 20px;
}*/
.content_programa {
  margin-bottom: 30px;
  /*max-height: 0;*/
  /*overflow: hidden;*/
  /*opacity: 0;*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/*.content_programa.opened {
  max-height: none;
  opacity: 1;
}*/
/*.trainers{
    height: auto;
}
.trainers .trainer_entry {
  float: left;
  margin-right: 10px;
}
.trainers .trainer_entry .image {
  width: 220px;
  height: 250px;
  background: #d6d6d6;
}
.trainers .trainer_entry .image img {
  max-width: 80%;
}
.trainers .trainer_entry .name {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 18px;
}
.trainers .trainer_entry .expertiza {
  text-transform: uppercase;
  font-size: 13px;
}*/
/*.trainers .trainer_entry:first-child {
  padding-bottom: 15px;
}*/
.partner {
  margin-bottom: 30px;
}
.partner .image {
  background: #d6d6d6;
  height: 260px;
  position: relative;
  margin-bottom: 10px;
}
.partner .image img {
  width: 100%;
  max-width: 250px;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.partner .name {
  font-size: 34px;
  font-weight: 700;
}
.expert {
  margin-bottom: 30px;
}
.expert .image {
  /*position: relative;*/
  margin-bottom: 10px;
  max-width: 200px;
}
.expert .image img {
  width: 100%;
}
.expert .name {
  font-size: 28px;
  font-weight: 700;
}
.expert .expertiza {
  font-size: 18px;
  font-weight: 400;
}
.trainer {
  margin-bottom: 30px;
}
.trainer .image {
  /*position: relative;*/
  margin-bottom: 10px;
  max-width: 200px;
}
.trainer .image img {
  width: 100%;
}
.trainer .name {
  font-size: 28px;
  font-weight: 700;
}
.trainer .expertiza {
  font-size: 18px;
  font-weight: 400;
}
/*.show_programa {
  padding-right: 50px;
  position: relative;
}
.show_programa:after {
  content: '\e808';
  font-family: 'fontello';
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: block;
  color: #ffffff;
}*/
/*.show_programa.active:after {
  content: '\e809';
}*/
.faq .tab {
  background: #eaeaea;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 60px 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  cursor: pointer;
}
.faq .tab:hover {
  color: #da345f;
}
.faq .tab:hover:after {
  color: #da345f;
}
.faq .tab:after {
  content: '\e808';
  font-family: 'fontello';
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 12px;
  display: block;
  color: #ffffff;
}
.faq .text {
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.faq.opened .text {
  max-height: 999px;
  opacity: 1;
  margin-bottom: 20px;
}
.faq.opened .tab {
  background: #d6d6d6;
}
.faq.opened .tab:after {
  content: '\e809';
}
.features {
  margin-top: 40px;
  text-align: center;
}
.features .row > div {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}
.features .feature_box {
  text-align: center;
  margin-bottom: 20px;
}
.features .feature_box .number {
  background: #da345f;
  background: #f0f0f0;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-weight: 800;
}
.features .feature_box .text {
  padding: 20px;
  font-size: 16px;
  background: #da345f;
  height: 120px;
}
/*.is_dece {
  background: url("../images/dece-bg.jpg") no-repeat 35% center fixed;
  background-size: cover !important;
}*/
/*.is_dece .main_wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}*/
.dece_content {
  color: #ffffff;
  text-align: center;
}
/*.dece_content .title {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.dece_content .title .big {
  font-size: 100px;
  line-height: 100%;
  font-weight: 800;
}
@media (min-width: 767px) {
  .dece_content .title .big {
    font-size: 130px;
    line-height: 100%;
  }
}
.dece_content .title .small {
  font-size: 22px;
  line-height: 80%;
  font-weight: 600;
}
@media (min-width: 767px) {
  .dece_content .title .small {
    font-size: 29px;
    line-height: 80%;
  }
}*/
/* first ver */
/*.dece_content .pink_box {
  background: rgba(218, 52, 95, 0.9);
  padding: 30px 40px;
  max-width: 900px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 20px;
}
.dece_content .pink_box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dece_content .pink_box ul li {
  margin: 0 0 0 0;
  padding: 0 0 0 28px;
  text-align: left;
  display: block;
  position: relative;
}
.dece_content .pink_box ul li:before {
  display: block;
  font-family: 'fontello';
  content: '\e80a';
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.5);
}*/
/* end first ver */
.responses_container {
    width: 50%;
    margin: auto;
}
/**
 * Circle Styles
 */
.circle {
  position: relative;
  display: block;
  margin: 1em 0;
  text-align: center;
  max-width: 210px;
}
.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  content: "";
  color: #ffffff;
}
.even:after {
  /*border: 2px solid #06090d;*/ 
  background:#da345f;
}
.odd:after {
  /*border: 2px solid #da345f;*/
  background: #06090d;
}
.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
@media (min-width: 480px) {
  .circle__content {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .circle__content {
    font-size: 1.2em;
  }
}

ul.text_list{    
    list-style-type: disc;
}    
.text_list{
    margin: 2px 15px;
}
.modal-dialog {
  padding: 80px 10px;
}
@media (min-width: 767px) {
  .modal-dialog {
    width: 800px;
  }
}
.bt_close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 34px;
  color: #da345f;
}
.bt_close:hover {
  color: #ffffff;
}
.modal-content {
  background: #ffffff;
  color: #06090d;
  padding: 25px 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-content .modal_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.curs_modal_box {
  padding: 20px 20px 10px;
  background: #da345f;
  width: 100%;
  text-align: left;
  color: #ffffff;
}
.curs_modal_box .curs_name {
  font-size: 30px;
  font-weight: 700;
}
.curs_modal_box .curs_time {
  font-size: 16px;
  margin: 10px 0;
}
.curs_promo_box .curs_calendar {
  font-size: 16px;
  margin: 10px 0;
}
.curs_modal_box .curs_price {
  font-size: 44px;
  font-weight: 700;
}
.curs_modal_box .curs_price span {
  font-weight: 300;
  font-size: 60%;
  padding-left: 5px;
}
.curs_modal_box .curs_price_label {
  font-size: 16px;
  font-weight: 800;
}
.form {
  margin: 40px 0 0;
}
.form .mesaj_eroare {
  color: #ee3b2c;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px 0;
}
.form .input_wrapper {
  margin-bottom: 5px;
}
.form input {
  background: none;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  border: none;
  border-bottom: 1px solid #da345f;
  color: #06090d;
}
.form textarea {
  background: none;
  width: 100%;
  padding: 10px;
  height: 100px;
  border: none;
  border: 1px solid #da345f;
  color: #06090d;
  resize: none;
  font-size: 14px;
  margin-top: 15px;
}
.form .checkboxes_wrapper {
  padding: 10px;
  font-size: 16px;
}
.form .label_checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 0 0;
  font-size: 16px;
}
.form .label_checkbox input {
  position: absolute;
  left: -10000px;
  /*visibility: hidden;*/
}
.form .label_checkbox input:checked + span:before {
  display: block;
  height: 18px;
  width: 18px;
  background: #da345f;
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
}
.form .label_checkbox span {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  background: #c4c4c4;
  position: relative;
  line-height: 18px;
  margin-right: 6px;
  top: -2px;
}
.form .selector_wrapper {
  border-bottom: 1px solid #da345f;
}
.form .selector_wrapper .label_data {
  margin: 9px 0 0;
  padding: 0 10px;
  font-size: 16px;
}
.form input:focus, .form .select2-container--focus {
    border-bottom: 2px solid #da345f;
}
.checkbox_focus {
    border-bottom: 2px solid #da345f;
}
@media (min-width: 500px) {
  .form .selector_wrapper .label_data {
    float: left;
  }
}
.modal-content .mesaj_succes {
  font-size: 16px;
  font-weight: 600;
  color: green;
  margin-bottom: 10px;
}
.contact_modal_content {
  padding: 0;
}
@media (max-width: 767px) {
  .contact_modal_content .row-eq-height {
    display: block !important;
  }
}
.contact_modal_content .form {
  margin: 0;
}
.contact_modal_content .form_side {
  padding: 20px 15px;
}
@media (min-width: 600px) {
  .contact_modal_content .form_side {
    padding: 30px 40px;
  }
}
.contact_modal_content .address_side {
  padding: 20px 15px;
  background: #da345f;
  color: #ffffff;
  line-height: 24px;
}
@media (min-width: 600px) {
  .contact_modal_content .address_side {
    padding: 30px 40px;
  }
}
.contact_modal_content .address_side .bt_black {
  margin-top: 20px;
}
.contact_modal_content .line {
  border-bottom: 1px dashed #ffffff;
  margin: 20px 0;
}

#modalInscriere .modal-content .success_msg {
    margin: 20px 5px;
}