<div class="modal fade" id="modalInscriere" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bt_close" data-dismiss="modal"><i class="icon-up-open"></i></div>
            <div class="modal_title">Formular de înscriere</div>
            <div class="curs_modal_box">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="curs_name">CURS HTML/CSS</div>
                        <div class="curs_time">Durata: <strong>10 zile</strong></div>
                    </div>
                    <div class="col-sm-5">
                        <div class="curs_price">
                            <div class="curs_price_label">PREȚ PROMO</div>
                            499<span>RON</span>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input_wrapper">
                            <div class="mesaj_eroare">Campul este obligatoriu</div>
                            <input type="text" placeholder="Nume">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input_wrapper">
                            <input type="text" placeholder="Prenume">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix selector_wrapper">
                            <div class="label_data">Data nașterii</div>
                            <div class="selectors">
                                <select name="zi" class="date_select" data-placeholder="zi" >
                                    <option></option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                </select>
                                <select name="luna" data-placeholder="luna" >
                                    <option></option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                </select>
                                <select name="an" data-placeholder="an" >
                                    <option></option>
                                    <option value="1">2017</option>
                                    <option value="2">02</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row checkboxes_wrapper">
                            <div class="col-xs-2">Sex</div>
                            <div class="col-xs-10">
                                <label class="label_checkbox"><input type="radio" name="sex"><span></span>feminin</label>
                                <label class="label_checkbox"><input type="radio" name="sex"><span></span>masculin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input_wrapper">
                            <input type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input_wrapper">
                            <input type="text" placeholder="Telefon">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix selector_wrapper">
                            <div class="select_perioada">
                                <select data-placeholder="Alege perioada" >
                                    <option></option>
                                    <option value="1">20 ian 2018</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top40">
                    <div class="col-sm-6">
                        <div class="mesaj_succes">Ai fost inscris cu succes!</div>
                    </div>
                    <div class="col-sm-6">
                        <a href="" class="bt_pink pull-right">Mă înscriu <i class="icon-right"></i></a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalContact" >
    <div class="modal-dialog">
        <div class="modal-content contact_modal_content">
            <div class="bt_close" data-dismiss="modal"><i class="icon-up-open"></i></div>
            <div class="clearfix row-eq-height">
                <div class="col-sm-6 form_side">
                    <div class="modal_title">Contact</div>
                    <form class="form">
                        <div class="input_wrapper">
                            <div class="mesaj_eroare">Campul este obligatoriu</div>
                            <input type="text" placeholder="Nume">
                        </div>
                        <div class="input_wrapper">
                            <input type="text" placeholder="Prenume">
                        </div>
                        <div class="input_wrapper">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="input_wrapper">
                            <input type="text" placeholder="Telefon">
                        </div>
                        <div class="input_wrapper">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="mesaj_succes">Mesajul a fost trimis!</div>
                        <a href="" class="bt_pink">Trimite <i class="icon-right"></i></a>
                    </form>
                </div>
                <div class="col-sm-6 address_side">
                    Relații si informații <br>
                    <strong>Popescu Cosmina</strong> <br>
                    <strong>Tel: 0756.778.988</strong>
                    <div class="line"></div>
                    <strong>SC. INVATAPROGRAMARE S.R.L.</strong> <br>
                    Fainari nr 25, Sector 2, București<br>
                    Tel: 0756.778.988 <br>
                    <div class="line"></div>
                    <a href="#" class="bt_black">Vezi google map <i class="icon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_wrapper row">
    <div class="col-md-7">
        <div class="linkuri">
            <span class="copy">Copyright © 2017 Invataprogramare All rights reserved</span>
            <a href="http://anpc.gov.ro" target="_blank">ANPC</a>
            <a href="confidentialitate.html">Confidențialitate</a>
            <a href="termeni.html">Termeni și condiții</a>
            <a href="#" data-toggle="modal" data-target="#modalContact">CONTACT</a>
        </div>
    </div>
    <div class="col-md-5">
        <div class="cu_sprijinul">
            <span>Cu sprijinul:</span>
            <a href="#"><img src="images/logo-ascendis.png" alt="Acendis"></a>
            <a href="#"><img src="images/logo-ideologiq.png" alt="IdeologIQ"></a>
        </div>
    </div>
</div>
<script src="js/select2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready( function($) {
        $("select").select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>
