<div class="main_header">
    <div class="container clearfix">
        <div class="logo"><a href="index.html"><img src="images/logo-invata-programare.svg"></a></div>
        <div class="nav_button nav_toggle"><span></span></div>
        <div class="main_menu">
            <a href="de-ce.html">De ce</a>
            <a href="program.html">Programă curs</a>
            <a href="experti.html">Experți</a>
            <a href="parteneri.html">Parteneri</a>
            <a href="faq.html">FAQ </a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>